body{
	margin: 0;
  padding: 0;
  font-family: Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Meiryo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: content-box;
}

a {
	color: #666;
	text-decoration: none;
}

header {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #efe0c0;
  color: #8e4c28;
  border: #deccab solid 1px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
}

section {
  width: 100%;
  min-height: 400px;
}

section.last {
  min-height: auto;
}

.slide-cover {
  background: rgba(255, 255, 255, 0.5);
  padding: 24px 0;
  min-height: 400px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

section.odd {
  background-color: #f7f0e0;
}

h3 {
  font-size: 1.8em;
  color: #8e4c28;
}

.message {
  color: black;
}

.slide {
  margin-top: 16px;
  text-align: center;
}

.slide-1-wrapper {
  background: url('../img/map.png');
}

.slide-2-wrapper {
  background: url('../img/chara-info.png');
}

.slide-3-wrapper {
  background: url('../img/realtime.png');
}

.slide-4-wrapper {
  background: url('../img/communication.png');
}

.slide-5-wrapper {
  background: url('../img/ontime.png');
}

.slide-6-wrapper {
  background: url('../img/toplogo.png');
}

.slide-wrapper {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-content {
  padding: 32px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.95);
  min-height: 440px;
}

@media(max-width: 680px) {
  .slide {
    position: relative;
    padding: calc(485 / 595 * 100%) 0 0;
  }
  .slide iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 595px;
    max-height: 485px;
  }
}

.image {
  text-align: center;
}

.image img {
  width: 100%;
  max-width: 500px;
  margin-top: 16px;
}

.last a.game-start {
  display: block;
  color: white;
  background-color: #f3aa23;
  width: 400px;
  max-width: 100vw;
  height: 80px;
  margin: 48px auto 36px;
  line-height: 80px;
  text-align: center;
  font-size: 1.8em;
  border-radius: 8px;
  transition: background-color .3s;
}

.last a.game-start:hover {
  background-color: #c48a1e;
}

.last a.learn-more {
  color: #008cff;
  text-decoration: none;
  font-size: 1.1em;
  display: block;
  text-align: center;
  height: 32px;
  line-height: 32px;
  width: 350px;
  margin: 0 auto;
}

.last a.learn-more:hover {
  text-decoration: underline;
  color: #1b5f96;
}

.last .tweet-container {
  text-align: center;
  margin: 60px 0 48px;
}

footer {
  background: #efefef;
  border-top: 1px solid #999;
  padding: 96px 0;
  text-align: center;
  color: #666;
}
